* {
  margin: 0;
  padding: 0;
}

.todo-list {
  margin: 60px 40px;
  display: grid;
  gap: 8px;
}

.todo-item {
  border-top: 2px solid rgb(196, 196, 196);
  padding: 8px 8px 0px;
  display: flex;
}

.todo-item__text {
  margin-left: 12px;
}

.todo-item__description {
  margin-top: 4px;
}

.todo-item__trash-icon {
  margin-left: auto;
  align-self: center;
}

.todo-item__text--add {
  color: gray;
  cursor: default;
}

.todo-item__add-button {
  background-color: inherit;
  border: none;
  font-size: 25px;
  color: rgb(255, 92, 92);
  position: relative;
  bottom: 5px;
}

.add-item-dialog {
  width: 600px;
  height: 300px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  border: none;
  outline: none;
  border-radius: 25px;
}

.add-item-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.add-item-dialog__close-button {
  background-color: inherit;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  font-size: 1.3em;
  color: gray;
}

.add-item-dialog__submit-button {
  background-color: rgb(0, 179, 0);
  position: absolute;
  bottom: 32px;
  right: 32px;
  font-size: 1em;
  font-weight: bold;
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 10px;
}

.add-item-form {
  padding: 32px 24px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
}

.add-item-form__header {
  grid-column: 1 / 3;
  margin-bottom: 24px;
}

.add-item-form__label {
  justify-self: end;
}
